img{
 transition: transform 0.2s;  
    width: 250px;
    height: 250px;
}
img:hover{
  transform: scale(0.9);
}
h1,h4{
    font-family: 'Caveat Brush';
    font-weight: bold;
    font-size: 35px;
}
section{
    background: linear-gradient(deeppink 0%, cyan 100%);
    overflow: hidden;
}
hr{
    width: 50px;
    height: 5px;
    color: black;
}


